::-webkit-scrollbar {
  display: none;
}
@media (min-width: 991.6px) {
  .img-mobile {
    display: none;
  }
  .zoom {
    transition: 0.5s all ease-in-out;
  }
  .zoom:hover {
    transform: scale(1.1);
  }
}

@media (max-width: 991.5px) {
  .img-desktop {
    display: none;
  }
}
